body {
	background-color: black;
	margin-top: 50px;
	margin-left: 100px;
	margin-right: 100px;

	color: white;
	/* font-family: "PT Serif", serif; */
	/* font-family: "Playwrite AU QLD", cursive; */
	/* font-optical-sizing: auto; */
	/* font-weight: 400; */
	/* font-style: normal; */

	font-family: "Playwrite AU QLD", cursive;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
	font-size: 12px;

	display: grid;
	grid-template-columns: 300px 1fr;
}

div#sidebar {
	border: 2px solid white;
	text-align: center;
}

h1 {
	font-family: "Love Light", cursive;
	font-weight: 400;
	font-style: normal;
	font-size: 50px;
	margin-bottom: 0;
}

a {
	color: white;
	text-decoration: underline;
}

canvas {
	border: 2px solid white;
	justify-self: end;
}

button {
	font-family: "Playwrite AU QLD", cursive;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
	font-size: 12px;

	color: white;
	background: black;
	border: 2px solid white;
}
button:hover {
	background: #333;
}

textarea {
	background: black;
	color: white;
	border: 0;
	display: block;
	margin: auto;
}

select {
	background-color: black;
	color: white;
	border: 2px solid white;

	font-family: "Playwrite AU QLD", cursive;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
	font-size: 12px;
}
